@use 'src/styles/colours' as colour;
@use 'src/styles/fonts' as font;

.container {
	min-height: calc(100vh - 108px);
	padding: 20px;
	padding-top: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	h1 {
		font-family: font.$secondary;
	}

	h4 {
		font-family: font.$primary;

		a {
			font-family: inherit;
			text-decoration: underline;
		}
	}

	@media only screen and (min-width: 768px) {
		min-height: calc(100vh - 160px);
		padding: 30px;
		padding-top: 150px;

		@media only screen and (min-width: 992px) {
			min-height: calc(100vh - 275px);
			padding: 40px;
			padding-top: 150px;
		}
	}
}

.form {
	width: 80vw;
	min-height: 400px;
	border: 2px solid colour.$pink-1;
	border-radius: 10px;
	background-color: colour.$white-1;
	position: relative;
}

.logo {
	margin-top: 25px;
	width: 150px;
}

.msg {
	font-family: font.$tertiary;
}