@use 'src/styles/colours' as colour;

.header {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100vw;
	background-color: colour.$dark-1 !important;
	z-index: 1000;

	.logo {
		height: 49px;
		width: 49px;
		margin-right: 5.5px;
	}
}