@use 'src/styles/colours' as colour;

$bg-grad-1: darken(colour.$pink-2, 31%);
$bg-grad-1: adjust-hue($bg-grad-1, calc(25% / 1%));

$bg-grad-2: darken(colour.$pink-2, 5%);
$bg-grad-2: adjust-hue($bg-grad-2, calc(3% / 1%));
$bg-grad-2: saturate($bg-grad-2, 4%);

body {
	height: 100vh;
	background: linear-gradient(117deg, $bg-grad-1 0%, $bg-grad-2 100%);
	color: colour.$white-1;
}

.flex-spacer {
	flex: 1;
}

a {
	text-decoration: none;
}